<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunzimo.Mapper.DoctorMapper">
    <!-- namespace要和接口的全类名相同 -->
    <resultMap id="BaseResultMap" type="doctor" >
        <id column="did" property="did" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="cardno" property="cardno" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="department" property="department" jdbcType="INTEGER" />
        <result column="education" property="education" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <select id="QueryByDid" resultMap="BaseResultMap" resultType="int">
        select * from doctor where did=#{did}
    </select>

    <select id="QueryAll" resultMap="BaseResultMap">
        select * from doctor
    </select>

    <select id="QueryDoctorByDepartment" resultMap="BaseResultMap">
        select * from doctor where department=#{department}
    </select>
</mapper>