<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunzimo.Mapper.RegisterMapper">
    <!-- namespace要和接口的全类名相同 -->
    <resultMap id="BaseResultMap" type="register" >
        <id column="rid" property="rid" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="idCard" property="idCard" jdbcType="VARCHAR" />
        <result column="siNumber" property="siNumber" jdbcType="VARCHAR" />
        <result column="registerMoney" property="registerMoney" jdbcType="DOUBLE" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="isPay" property="isPay" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="consultation" property="consultation" jdbcType="INTEGER" />
        <result column="department" property="department" jdbcType="INTEGER" />
        <result column="did" property="did" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="registerDate" property="registerDate" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>
    
    <resultMap id="IncludeDoctor" type="register" extends="BaseResultMap">
        <association property="doctor" javaType="doctor" column="did" select="com.yunzimo.Mapper.DoctorMapper.QueryByDid"/>
    </resultMap>

    <select id="QueryAll" resultMap="IncludeDoctor">
        select * from register
    </select>

    <select id="QueryByRid" resultMap="IncludeDoctor">
        select * from register where rid=#{rid}
    </select>

    <update id="UpdateByRid" parameterType="register">
        update register set name=#{name},idCard=#{idCard},siNumber=#{siNumber},registerMoney=#{registerMoney},phone=#{phone},isPay=#{isPay},sex=#{sex},age=#{age},consultation=#{consultation},department=#{department},did=#{did},remark=#{remark} where rid=#{rid}
    </update>

    <delete id="DeleteByRid" parameterType="int">
        delete from register where rid=#{rid}
    </delete>

    <insert id="addRegister" parameterType="register">
        insert into register (name, idCard, siNumber, registerMoney, phone, isPay, sex, age, consultation, department, did, status, registerDate, remark) VALUE (#{name}, #{idCard}, #{siNumber}, #{registerMoney}, #{phone}, #{isPay}, #{sex},#{age},#{consultation},#{department},#{did},#{status},#{registerDate},#{remark})
    </insert>

    <select id="QueryByKey" parameterType="register">
        select * from register
        <where>
            <if test="rid!=null and rid!=0">
                and rid=#{rid}
            </if>
            <if test="department!=null and department!=0">
                and department=#{department}
            </if>
            <if test="did!=null and did!=0">
                and did=#{did}
            </if>
        </where>
    </select>
    
</mapper>