<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunzimo.mapper.EmpRoleMapper" >
  <resultMap id="BaseResultMap" type="com.yunzimo.Bean.EmpRole" >
    <id column="erid" property="erid" jdbcType="INTEGER" />
    <result column="role_fk" property="roleFk" jdbcType="INTEGER" />
    <result column="emp_fk" property="empFk" jdbcType="INTEGER" />
    <result column="erdis" property="erdis" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="InsertInfo" parameterType="empRole">
    insert into emp_role
    (role_fk, emp_fk)values (#{roleFk},#{empFk})
  </insert>
</mapper>