<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunzimo.mapper.SourcesMapper" >
  <resultMap id="BaseResultMap" type="com.yunzimo.Bean.Sources" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>

<select id="getSources" resultMap="BaseResultMap">
  select id,name,remark,pid from sources
<where>
  <if test="pid!=0">
    and pid=#{pid}
  </if>
<if test="pid==0">
  and pid is null
</if>
</where>
</select>

  <select id="getAllParents" resultMap="BaseResultMap">
    select * from sources where  url is null;
  </select>

  <insert id="addSource" parameterType="sources">
    insert into sources (name,url,pid,remark) values (#{name},#{url},#{pid},#{remark})

  </insert>

  <delete id="deleteInfo" parameterType="int">
    delete from sources where id=#{id}
  </delete>

  <select id="getOne" resultMap="BaseResultMap">
    select * from sources where id=#{id}
  </select>

  <update id="updateSource" parameterType="sources">
    update sources set name=#{name},url=#{url},remark=#{remark},pid=#{pid} where id=#{id}
  </update>
</mapper>