<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
">
<!--    扫猫包-->
    <context:component-scan base-package="com.yunzimo.Controller"/>

<!--    注解驱动-->
    <mvc:annotation-driven/>

<!--    配置静态资源-->
    <mvc:resources mapping="/Css/**" location="/Css/"/>
    <mvc:resources mapping="/Js/**" location="/Js/"/>
    <mvc:resources mapping="/Images/**" location="/Images/"/>
    <mvc:resources mapping="/assets/**" location="/assets/"/>

<!--    配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


</beans>